<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= nickname %></h1>
  <p>Welcome to Koa2</p>
  <script>
  // let url = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3ce6367e9f840252&redirect_uri=http://cncp20.free.idcfengye.com/outh&response_type=code&scope=snsapi_userinfo&state=123#wechat_redirect`
  // let url = `https://api.weixin.qq.com/sns/oauth2/access_token?appid=wx3ce6367e9f840252&secret=b378aa928adc010dab03a9e118a7c43b&code=071Olti30BVBSI1P35j302Epi30Olti4&grant_type=authorization_code`

  </script>
</body>
</html>